<h1> Orders that can be sent </h1>
<% @ready.each do |order| %>
<p><%= order.id %> ||  <%= order.name %> </p>
<% end %>

<h2> Orders on Hold </h2>
<% @not_ready.each do |order| %>
<p><%= order.id %> ||  <%= order.name %> </p>
<% end %>